/*$break-xl: 1199px;
$break-l : 1023px;
$break-m : 767px;
$break-s : 319px;*/

// Working with bootstrap-affix
.affix { position: fixed; };
.affix-bottom { position: absolute; top: auto; bottom: 0; }

.slow-feed.affix,
.slow-feed.affix-bottom { 
    width: 383.68px;

    @media (max-width: 1199px)  { width: 327.26px }
    @media (max-width: 1023px)  { width: 245.44px; }
    @media (max-width: 767px)   { width: 100%; position: relative; }
}