.cf:before,
.cf:after {
  content: '.';    
  display: block;    
  height: 0;    
  overflow: hidden; 
}
.cf:after {clear: both;}
.cf {zoom: 1;} /* IE < 8 */

/*.container { max-width: 768px; margin: 0 auto; }*/

.affix { position: fixed; }

body {
    margin: 0;
    font-family: 'helvetica neue', helvetica, sans-serif;
}

.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
}

.pickle {
    position: fixed;
    top: 0; right: 0; left: 0;
    height: 8px;

    background: rgb(190, 62, 57);

    z-index: 30;
}

.bread {
    position: fixed;
    top: 8px; right: 0; bottom: 0; left: 0;

    background: rgb(200, 65, 60);

    color: #fff;

    z-index: 10;
}

.prosciutto {
    position: relative;
    top: 200px;
    height: 1200px;
    background: #fff;

    z-index: 20;
}

.bologne {
    z-index: 50;
    background: black;

    height: 100px;
}

