//=========================
// VARIABLES //////////////
//=========================

$iconSpritePath     : '../images/glyphicons-halflings.png';
$iconWhiteSpritePath: '../images/glyphicons-halflings-white.png';

$colour-red: rgb(200, 65, 60);

$break-xl: 1199px;
$break-l : 1023px;
$break-m : 767px;
$break-s : 319px;

$type-stack--kepler : kepler-std, georgia, serif;
$type-stack--proxima: proxima-nova, 'helvetica neue', helvetica, sans-serif;

//=========================
// MIXINS /////////////////
//=========================

// Clearfix
.cf:before,
.cf:after   { content: '.'; display: block; height: 0; overflow: hidden; }
.cf:after   { clear: both; }
.cf         { zoom: 1; } /* IE < 8 */

//=========================
// IMPORTS ////////////////
//=========================

@import 'gridset';
@import 'type';
@import 'layout';

//=========================
// BASE ///////////////////
//=========================

body    { margin: 0; }
img     { max-width: 100%; }

//=========================
// GLOBAL PAGE STRUCTURE //
//=========================

.top-stripe { // Consistent line of colour at the top of the page
    position: fixed;
    top: 0; right: 0; left: 0;
    height: 8px;

    background: rgb(190, 62, 57);

    z-index: 30;
}

.back-panel { // Photograph, header and footer that pass behind page content
    position: fixed;
    top: 0; right: 0; bottom: 0; left: 0;

    background: url(../images/hero.jpg) 50% top;

    color: #fff;

    z-index: 10;

    &.s-reveal-footer { // Hide site navigation and title when viewing footer
        .site-brand, .site-nav { display: none; }
    }
}

.front-panel { // Page content that scrolls through the foreground
    position: relative;
    top: 400px;
    height: 1200px;
    background: #fff;

    z-index: 20;

    @media (max-width: 767px) { height: 300px; }
}

.slow-feed {  z-index: 50; background: rgba(0, 0, 0, .08); height: 400px; } // Passion Profiles

.fast-feed {} // Tumblr feed

.hero-footer { position: relative; top: 400px; }

//=========================
// SITE HEADER ////////////
//=========================

.site-header { height: 400px; }

.site-brand     { margin: 100px 0 0; }
.site-title     { font-family: $type-stack--kepler; font-size: 48px; font-weight: 400; text-align: left; margin: 0; font-style: normal; }
.site-subtitle  { font-size: 24px; font-weight: 300; font-style: italic; margin: 0; }

.logo { margin: 50px 0; }

.site-nav {
    list-style: none; margin: 100px 0 0; padding: 0;

    > li {
        margin-bottom: 1em;

        &:last-child { margin-bottom: 0; }
    }
}

.site-nav--link,
.site-nav--link:active,
.site-nav--link:link,
.site-nav--link:visited,
.site-nav--link:hover       { display: block; color: #fff; font-family: $type-stack--proxima; }
.site-nav--link--icon       { display: block; float: left; width: 40px; height: 40px; margin: 5px; background: rgba(0, 0, 0, .32); color: #fff; }
.site-nav--link--title      { display: block; font-size: 24px; font-weight: 600; }
.site-nav--link--caption    { display: block; }

//=========================
// Tumblr Feed ////////////
//=========================

.feed--item--meta {
    margin: 0; padding: 0;
    > li { display: inline-block; padding-right: 15px; }
}

//=========================
// SITE FOOTER ////////////
//=========================

.what-lives-within-us { // “What lies behind us and what lies before us are insignificant compared to what lives within us.”
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    max-width: 24em;
    margin: 600px auto 0;

    color: #fff;
    text-align: center;

    z-index: 15;
}

// § //







